html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

BODY {
  font-size: 16px;
  line-height: 1.5; }

HEADER {
  text-align: center;
  padding: 0 8px;
  margin-bottom: -32px;
  border-bottom: 1px solid gray;
  height: 32px;
  line-height: 32px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2; }
  HEADER H1 {
    text-transform: uppercase;
    letter-spacing: 3px; }
    HEADER H1 I {
      font-weight: bold; }

ARTICLE {
  padding: 16px 0;
  margin: 0 10%;
  position: relative;
  width: 60%; }
  ARTICLE H2 {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 0 4px;
    margin: 45px -4px 0; }
  ARTICLE P, ARTICLE OL {
    margin-bottom: 12px; }
  ARTICLE OL, ARTICLE OL LI {
    list-style: decimal; }
  ARTICLE BLOCKQUOTE {
    margin-left: 32px;
    color: gray; }
