!!!5
%html
%head
  %title Stickyeah
  %meta(charset="utf-8")
  %link(rel="stylesheet" href="css/screen.css")
  %script(src="js/jquery-1.7.1.min.js")
  %script(src="stickyeah.js")
  %script(src="js/highlight/highlight.pack.js")

%body
  %header.stickyeah()
    %h1 stick<i>yeah</i>
  %article
    %h2.stickyeah(data-stickyeah-offset="33" data-stickyeah-push="h2") Basic
    %p To make Stickyeah work on a page:
    %ol
      %li Link to the newest <a href="http://jquery.com/" class="a_blank" target="_blank">jQuery</a> & <code>stickyeah.js</code>.
      %li Add class <code>stickyeah</code> to blocks you want to stick.
    %p Basic example
    %p Some "Lorem ipsum" for longer page:
    %blockquote
      %p Kale chips minim incididunt quinoa, occupy sustainable VHS authentic vero labore. Cred mcsweeney's reprehenderit, farm-to-table occupy irony duis anim sunt consequat ennui. Cosby sweater consequat chillwave, wes anderson officia nulla small batch reprehenderit marfa adipisicing forage. Organic sriracha post-ironic, gastropub letterpress umami anim selvage helvetica irony thundercats qui. Dreamcatcher incididunt deserunt, labore commodo PBR lo-fi umami nostrud eiusmod. Selvage dreamcatcher in, elit est echo park chillwave aute gentrify nisi non sartorial pork belly ethnic. Occupy stumptown organic nostrud, velit aliquip VHS sustainable qui irure chambray dolore labore you probably haven't heard of them.
    %h2.stickyeah(data-stickyeah-offset="33" data-stickyeah-push="h2") To the top of the screen
    %blockquote
      %p  3 wolf moon sunt pitchfork swag. Fugiat thundercats DIY umami. Farm-to-table quis echo park do, banksy vegan godard vero PBR fanny pack american apparel sed irure fugiat. Non quinoa forage whatever banh mi, consectetur voluptate commodo VHS. Aliquip pickled nihil, mumblecore fingerstache aute non forage jean shorts put a bird on it semiotics +1 authentic. Magna swag elit helvetica, mixtape assumenda vero twee gastropub semiotics squid hoodie small batch kogi. Master cleanse fixie bespoke typewriter sapiente nesciunt quinoa ethnic.
    %h2.stickyeah(data-stickyeah-offset="33" data-stickyeah-push="h2") While scrolling down
    %blockquote
      %p  Letterpress aesthetic typewriter before they sold out, bushwick vinyl PBR fugiat trust fund do freegan wolf. Forage officia brooklyn pork belly. Laboris irure skateboard elit vice, shoreditch pinterest non forage. Exercitation gluten-free pickled enim. Farm-to-table synth gentrify, polaroid veniam fanny pack messenger bag semiotics. Polaroid iphone assumenda, art party dreamcatcher pork belly pariatur cardigan nihil ut. Quis banksy vero delectus id.
    %blockquote
      %p  Scenester fanny pack cliche food truck, ea selvage raw denim aute vinyl cray synth. Culpa artisan pickled dolor, assumenda reprehenderit brunch etsy umami williamsburg cosby sweater swag pour-over sint. Fanny pack single-origin coffee ut sriracha, master cleanse culpa +1 eiusmod lo-fi non consequat carles. Locavore mumblecore vinyl, direct trade velit nisi retro. Id nostrud four loko mustache forage sriracha. Cardigan tempor aute skateboard sustainable. Wes anderson fugiat kale chips butcher aesthetic messenger bag helvetica, letterpress flexitarian before they sold out.
  %footer